.ingredientDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.ingredientProperties {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
